.advantages-item span {
  transition: color 400ms;
}

.advantages-item:hover .item-number {
  background-color: rgb(235, 168, 177);
}

.advantages-item:hover span {
  color: rgb(130, 19, 40);
}

.item-number {
  display: grid;
  background: #821328;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  justify-items: center;
  font-size: 60px;
  font-family: GilroyExtraBold, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 0.75;
  align-items: self-end;
  margin-bottom: 13px;
  transition: background-color 400ms;
}

.item-title {
  font-size: 20px;
  font-family: GilroyExtraBold, sans-serif;
  color: rgb(51, 25, 7);
  margin-bottom: 20px;
}

.item-text {
  font-size: 15px;
  font-family: GilroyMedium, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.333;
}

@media screen and (max-width: 767px) {
  .advantages-item {
    max-width: 165px;
  }

  .item-title {
    font-size: 18px;
  }

  .item-text {
    font-size: 13px;
  }
}

@media screen and (max-width: 374px) {
  .advantages-item {
    max-width: 135px;
  }

  .item-title {
    font-size: 15px;
  }

  .item-text {
    font-size: 10px;
  }
}
