<section class="main">
  <header class="header">
    <div class="container">
      <div class="header-burger" id="burger">
        <svg id="menu_icons" data-name="menu icons" xmlns="http://www.w3.org/2000/svg" width="40" height="22"
             viewBox="0 0 40 22">
          <defs>
            <style>
              .cls-1 {
                fill: #821328;
              }
            </style>
          </defs>
          <rect id="Прямоугольник_8" data-name="Прямоугольник 8" class="cls-1" width="40" height="2"/>
          <rect id="Прямоугольник_8_копия" data-name="Прямоугольник 8 копия" class="cls-1" y="10" width="40"
                height="2"/>
          <rect id="Прямоугольник_8_копия_2" data-name="Прямоугольник 8 копия 2" class="cls-1" y="20" width="40"
                height="2"/>
        </svg>
      </div>
      <a href="#" class="logo">
        <img src="assets/images/logo.svg" alt="Logo">
      </a>
      <nav class="menu" id="menu">
        <div class="menu-close">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
                                    c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
                                    c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
                                    L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
                                    c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
                                    c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
                                    c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
                        </g>
                    </g>
                </svg>
        </div>
        <ul class="menu-list">
          <li>
            <a href="#" class="menu-link" (click)="scrollTo(productsElement)">Пироженки</a>
          </li>
          <li>
            <a href="#" class="menu-link" (click)="scrollTo(aboutElement)">О нас</a>
          </li>
          <li>
            <a href="#" class="menu-link" (click)="scrollTo(formElement)">Оформить заказ</a>
          </li>
        </ul>
      </nav>
      <div class="number">
        <span *ngIf="showHeaderNumber">{{ numbers | numberFormatting }}</span>
      </div>
    </div>
  </header>
  <div class="main-block">
    <div class="container">
      <div class="main-info">
        <h1 class="main-title">Мягкие французские пироженки Macaroons</h1>
        <div class="main-text">
          Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
        </div>
        <div class="main-action">
          <button class="button main-button" (click)="scrollTo(productsElement)" buttonEffects
                  [buttonEffectsDefaultBgColor]="'rgb(215, 72, 92)'" [buttonEffectsMouseOverBgColor]="'rgb(107,47,51)'">
            Выбрать макарун
          </button>
        </div>
      </div>
      <div class="main-image">
        <img src="assets/images/MainImage.png" alt="Macaroons" class="main-image-img">
      </div>
    </div>
  </div>
</section>
<section class="about" #aboutElement>
  <div class="container">
    <h2 class="about-title">Мы печём для вас вкуснейшие макаруны уже более 10 лет</h2>
    <div class="about-text">
      Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
      ароматизаторов,
      красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей, маргарина, разрыхлителей и
      улучшителей муки.
    </div>
    <div class="about-image">
      <img src="assets/images/advantage-image.png" alt="Пирожка" class="about-image-img">
    </div>
  </div>
</section>
<section class="advantages">
  <div class="container">
    <div class="advantages-items">
      <advantage *ngFor="let advantage of advantages; let i = index;" [advantage]="advantage"
                 [index]="i + 1"></advantage>
    </div>
  </div>
</section>
<section class="assortment" #productsElement>
  <div class="container">
    <h2 class="assortment-title">Выберите свой макарун</h2>
    <div class="assortment-items">
      <product *ngFor="let product of products ; let i=index;" [product]="product"
               (addToCartEvent)="addToOrder($event, formElement)"></product>
    </div>
  </div>
</section>
<section class="order-form" #formElement>
  <div class="container">
    <div class="strawberry"><img src="assets/images/strawberry1.png" alt="Клубничка"></div>
    <div class="strawberry-second"><img src="assets/images/strawberry2.png" alt="Клубничка вторая"></div>
    <div class="order-form-image">
      <img src="assets/images/formbg.png" alt="Macaroons" class="order-form-image-img">
    </div>
    <div class="order-form-info">
      <div class="order-form-title">
        Закажите макарун!
      </div>
      <div class="order-form-text">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </div>
      <div class="order-form-choose">Ваш выбор</div>
      <input type="text" class="choose-input order-choose-input" placeholder="Напишите, что хотите заказать..."
             [(ngModel)]="formValues.productName">
      <div class="order-form-choose-second">Заполните данные для заказа</div>
      <input type="text" class="choose-input order-choose-input" placeholder="Ваше имя"
             [(ngModel)]="formValues.userName">
      <input type="number" class="choose-input order-choose-input" placeholder="+375 (__) ___ - __ - __"
             [(ngModel)]="formValues.phoneNumber">
      <button class="button form-button" (click)="createOrder()" buttonEffects
              [buttonEffectsDefaultBgColor]="'rgb(215, 72, 92)'" [buttonEffectsMouseOverBgColor]="'rgb(107,47,51)'">
        Оформить заказ
      </button>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="logo-rights">
      <a href="#" class="logo">
        <img src="assets/images/logo.svg" alt="Logo">
      </a>
      <div class="rights">Все права защищены, 2020</div>
    </div>
    <div class="footer-inst" *ngIf="showFooterInstagramLink">
      <img src="assets/images/instagram.png" alt="Instagram icon" class="footer-inst-img">
      <div class="footer-inst-text">Мы в Instagram</div>
    </div>
    <div class="number">{{ numbers | numberFormatting }}</div>
  </div>
</footer>
<div class="present" *ngIf="showPresent">
  <button class="present-button">
    <img src="../assets/images/cart.png" alt="Cart-image" class="cart-image">
    <div class="cart-count" *ngIf="totalPrice > 0">{{ addToCartService.count }}</div>
  </button>
  <div class="present-gift">
    {{ totalPrice | currency: 'RUB': 'руб.'}}
  </div>
</div>
